/* mobile */

@media(max-width: 992px){
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        
    }

    .apresentacao{
        flex-direction: column-reverse;
        margin: 0 20px 0 20px;        
    }

    .apresentacao img{
        min-width: 320px;
        max-width: 50px;
        margin: 30px 0 0 0;
    }

    .apresentacao .texto-apresentacao{
        text-align: center;
    }

    #quem-somos{
        flex-direction: column-reverse;
        margin: 0 20px 50px 20px;
    }

    #quem-somos img{
        min-width: 320px;
        max-width: 50px;
        margin-top: 30px;
    }

    .container-externo{
        width: 100%;
    }

    .list-servicos{
        flex-direction: column;
    }

    .list-servicos img{
        width: 30%;
        margin-top: 30px;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 20px 20px 20px;
    }

    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer{
        margin: 0 20px 0 20px;
        align-items: center;
    }
}