*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
}

div img{
display: block;
width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: rgb(70, 101, 158);
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    
}

header .flex-container{
    display:flex;
    flex-direction: row;
    align-items: center;    
    max-width: 900px;
    
}

header .logo{
    font-family: 'Arial Black', Times;
    font-size:40px;
    margin-right: 40px;
}

.itens-menu a{
    color: #fff;
    margin-right: 20px;
}

.apresentacao{
    height: 60vh;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
}

.apresentacao .texto-apresentacao{
    min-height: 100px;
}

.texto-apresentacao h1{
    color: rgb(70, 101, 158);
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: rgb(70, 101, 158);
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*formulario*/
.elementos-itens{
    border-radius: 10px;
    padding: 35px;
    background-color: rgb(70, 101, 158);
    width: 100%;
    height: 100%;
     
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
          
}

.nomeForm {
    margin-bottom: 15px;
    padding: 10px;    
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}

.emailForm {
    margin-bottom: 15px;
    padding: 10px;  
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}

.botaoForm {
    font-size: 1.5em;
    background: #F90;
    border: 0;    
    color: #FFF;
    padding:10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 50px;
    width: 100%;
}

.botaoForm:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botaoForm, select, label.checkbox {
    cursor: pointer;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color:rgb(70, 101, 158);
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 10px;
    margin-right: 5%;
    background-color: rgb(70, 101, 158) ;
    position: relative;
}

#quem-somos img{
    min-width: 420px;
       
}

.container-externo{
    background-color: rgb(70, 101, 158);
    width: 100%;
}    

#servicos{
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico{
    text-align: center;
}

.list-servicos a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    padding: 5px 10px;
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    
}

.list-servicos p{
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    font-size: 18px;
    
}

.list-servicos img{
    width: 50%;
    margin: auto;
}

#planos{
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

#planos h2{
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(70, 101, 158);
}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid rgb(70, 101, 158);
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: rgb(70, 101, 158);
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(70, 101, 158);
    margin-right: 5px;
}

footer{
    background-color: rgb(70, 101, 158);
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #fff;
}



